<% title _("Patch Cycles") %>

<table class="<%= table_css_classes 'table-condensed table-fixed' %>">
  <thead>
    <tr>
      <th><%= sort :name, as: _('Name') %></th>
      <th class="col-md-2"><%= sort :start_date, as: _('Start Date') %></th>
      <th class="col-md-1"><%= _('Planned') %></th>
      <th class="col-md-1"><%= _('Scheduled') %></th>
      <th class="col-md-1"><%= _('Running') %></th>
      <th class="col-md-1"><%= _('Completed') %></th>
      <th class="col-md-1"><%= _('Total Windows') %></th>
    </tr>
  </thead>
  <tbody>
    <% @cycles.each do |cycle| %>
      <tr>
        <td>
          <%= link_to cycle.name, cycle_path(cycle) %>
        </td>
        <td>
          <%= cycle.start_date %>
        </td>
        <td>
          <%= cycle.windows.planned.count %>
        </td>
        <td>
          <%= cycle.windows.scheduled.count %>
        </td>
        <td>
          <%= cycle.windows.running.count %>
        </td>
        <td>
          <%= cycle.windows.completed.count %>
        </td>
        <td>
          <%= cycle.windows.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate_with_info @cycles %>

