<table class="table table-bordered table-fixed">
  <thead>
    <tr>
      <th><%= _('Sunday') %></th>
      <th><%= _('Monday') %></th>
      <th><%= _('Tuesday') %></th>
      <th><%= _('Wednesday') %></th>
      <th><%= _('Thursday') %></th>
      <th><%= _('Friday') %></th>
      <th><%= _('Saturday') %></th>
    </tr>
  </thead>
  <tbody>
    <% start = -cycle_plan.start_date.wday %>
    <% length = cycle_plan.interval.send(cycle_plan.units).value / ActiveSupport::Duration::SECONDS_PER_DAY %>
    <% stop = length + 6 - (cycle_plan.start_date + length).wday %>
    <% (start..stop).each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <td class="day <%= ((0...length).include? day) ? '' : 'disabled' %>">
            <% cycle_plan.window_plans.where(start_day: day).order(:start_time).each do |window| %>
              <div class="event ellipsis"><%= window.start_time %> <%= window.name %></div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

