<%= webpacked_plugins_js_for :foreman_patch %>

<% 
items = [{ caption: _('Cycles'), url: cycles_path },
         { caption: @round.cycle.name, url: cycle_path(@round.cycle) },
         { caption: @round.window.name, url: window_path(@round.window) },
         { caption: @round.name }]

breadcrumbs(resource_url: api_window_rounds_path(@round.window.id),
            name_field: 'name',
            switcher_item_url: round_path(':id'),
            items: items)
%>

<% if @round.task %>
  <% title_actions button_group(round_task_buttons(@round.task))%>
<% end %>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <div class="card-pf card-pf-accented">
      <div class="card-pf-title">
        <h2 style="height: 18px;" class="card-pf-title"><%= _('Details') %></h2>
      </div>
      <div class="card-pf-body">
        <p>
          <%= _('Name:') %>
          <strong><%= @round.name %></strong>
        </p>
        <p>
          <%= _('Description:') %>
          <strong><%= @round.description %></strong>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="card-pf card-pf-accented card-pf-aggregate-status">
      <div class="card-pf-title">
        <h2 style="height: 18px;" class="card-pf-title"><%= _('Results') %></h2>
      </div>
      <div class="card-pf-body">
        <%= react_component('RoundProgress', round: @round.id) %>
      </div>
    </div>
  </div>
</div>
<hr/>
<div id="hosts">
  <%= react_component('Invocations', round: @round.id) %>
</div>
