<% phase_tag_id = phase.label.demodulize.underscore %>
<div class="tab-pane" id="<%= phase_tag_id %>">
  <div id="<%= phase_tag_id %>" class="terminal" data-refresh-url="<%= invocation_path(@invocation) %>">
    <% if @error %>
      <div class="line error"><%= @error %></div>
    <% else %>
      <%= link_to_function(_('Scroll to bottom'), '$("html, body").animate({ scrollTop: $(document).height() }, "slow");', class: 'pull-right scroll-link-bottom') %>

      <div class="printable">
        <% @line_counter = 0 %>
        <%= render partial: 'template_invocations/output_line_set', collection: normalize_line_sets(phase.live_output) %>
      </div>

      <%= link_to_function(_('Scroll to top'), '$("html, body").animate({ scrollTop: 0 }, "slow");', :class => 'pull-right scroll-link-top') %>
    <% end %>
  </div>
</div>
