<table class="<%= table_css_classes %>">
  <thead>
    <tr>
      <th><%= _('Group') %></th>
      <th><%= _('Order') %></th>
      <th><%= _('Host Count') %></th>
      <th><%= _('Status') %></th>
      <th><%= _('Actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% rounds.each do |round| %>
      <tr>
        <td class="ellipsis"><%= link_to round.name, window_round_path(round) %></td>
        <td><%= round.priority %></td>
        <td><%= round.hosts.count %></td>
        <td><%= round.status_label %></td>
        <td>TODO</td>
      </tr>
    <% end %>
  </tbody>
</table>


