<% title @plan.name %>

<% stylesheet 'foreman_patch/foreman_patch' %>

<% title_actions(link_to(_('Create Window'), new_plan_window_plan_path(plan_id: @plan.id),
                         class: 'btn btn-default',
                         title: _('Create a new window for this plan')),
                 link_to(_('Edit'), edit_plan_path(@plan),
                         class: 'btn btn-default',
                         title: _('Edit propries of this plan')))
%>

<%= calendar(@plan.start_date...(@plan.next_cycle_start)) do |day| %>
  <% plan_windows(@plan, day).each do |window| %>
    <div class="event" id="windowPlan<%= window.id %>" data-window-plan-id="<%= window.id %>">
      <div class="ellipsis"><%= "#{window.start_time.strftime('%l:%M %p')} #{window.name}" %></div>
      <div class="ra">
        <%= action_buttons(plan_window_actions(window)) %>
      </div>
    </div>
  <% end %>
<% end %>

